@charset"utf-8";

/* Case Study CSS*/
 @import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic);
 body {
    /*font-family:'Droid Sans'; */
    font-family:'Arial', 'Helvetica', 'sans-serif';
    font-size:14px;
    font-weight:400;
    background:url(../img/bg_img.jpg);
    /*background: #FFFFFF;*/
    /*background-position:center center;*/
    background-size:cover;
    background-attachment:fixed;
    /*padding:15px;*/
    margin:0;
    min-height:100%;
}
li {
    padding:0px;
}
ul {
    margin-left: 0px;
}
.menu li:first-child {
    /*background:#f00;
    font-family:arial black;
    font-size:200%;
    */font-weight:bold;
    
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0 0 2px 1px #aaa;
}
.menu a {
    text-decoration: none;
    color:#fff;
}
.ntt-logo {
    /*background:url(../img/NTTDATALogo195x50.png) top left no-repeat;*/
    color:#333333;
    height:50px;
    padding-left:230px;
    font-family:'Open Sans Condensed';
    font-weight:700;
    font-size:36px;
    text-transform:uppercase;
}
.ntt-background {
    /*background:url(../img/nttdata.png) !important;*/
    background-image: url(../img/nttdata.png) !important;
    background-size: 125px 125px !important;
}
.circle_one, .circle_two, .circle_three, .circle_four, .circle_five, .circle_six, .circle_seven, .circle_eight, .circle_nine, .circle_ten {
    display:block;
    width:50px;
    height:50px;
    text-align:center;
    position:absolute;
    z-index:1;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    border-bottom-left-radius:30px;
    -webkit-transform:scale(1);
    -webkit-transition:all 500ms ease;
    transition:all 500ms ease;
    font-size:12px;
    color:#ffffff;
    font-weight:bold;
    line-height:95px !important;
    vertical-align:middle;
    background:#00639c !important;
    /*  background-image: -webkit-radial-gradient(30% 40%, rgb(50,50,200), rgb(0,0,0))!important;
          background-image: -moz-radial-gradient(30% 40%, rgb(50,50,200), rgb(0,0,0))!important;
          background-image: -ms-radial-gradient(30% 40%, rgb(50,50,200), rgb(0,0,0))!important;
          background-image: -o-radial-gradient(30% 40%, rgb(50,50,200), rgb(0,0,0))!important;
          background-image: radial-gradient(circle at 30% 40%, rgb(50,50,200), rgb(0,0,0))!important;*/
    animation-name: spin;
    animation-duration: 3s;
    /* 3 seconds */
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}
.circle_two {
    /*  top: -64px;
    left: 48px; */
    background:#008cd6 !important;
}
.circle_three {
    /*top: -24px; left: 76px;*/
    background:#d24726 !important;
}
.circle_four {
    /*top: 26px; left: 75px;*/
    background:#25879a !important;
}
.circle_five {
    /*top: 66px; left: 45px; */
    background:#01bee4 !important;
}
.circle_six {
    /*top: 80px; left: -3px;  */
    background:#7dc119 !important;
}
.circle_seven {
    /*top: 62px; left: -50px;*/
    background:#e59d04 !important;
}
.circle_eight {
    /*top: 21px; left: -77px;*/
    background:#464646 !important;
}
.circle_nine {
    /*top: -29px; left: -74px;*/
    background:#80397b !important;
}
.circle_ten {
    /*top: -68px; left: -42px; */
    background:#396f79 !important;
}
.li-container {
    display: table;
    height:100%;
    width:100%;
}
.li-container-text {
    line-height: 14px;
    font-size: 12px;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 5px;
    text-align: center;
    color:#ececec;
}

.main-circle .li-container-text {
    color:#fff;
    line-height: 16px;
    font-size: 14px;
}
.lnktext_main {
    font-size:12px;
    /*font-family:Arial, Helvetica, sans-serif;*/
    font-weight:normal;
    text-align:center;
    text-decoration:none;
    line-height:14px !important;
    vertical-align:middle;
    margin:42px 0px 0 18px;
    float:left;
    width:90px;
    vertical-align:middle !important;
    font-weight:bold;
}
.lnktext_bubl, .lnktext_bubl2, .lnktext_bubl3, .lnktext_bubl4 {
    font-size:12px;
    /*font-family:Arial, Helvetica, sans-serif;*/
    font-weight:normal;
    text-align:center;
    text-decoration:none;
    line-height:14px !important;
    vertical-align:middle;
    margin:32px 0 0 0;
    float:left;
    width:90px;
    vertical-align:middle !important;
    font-weight:bold;
}
.lnktext_bubl:hover {
    color:#ececec;
    line-height:14px !important;
}
.lnktext_bubl2, .lnktext_bubl {
    margin:28px 0 0 0;
    float:left;
    width:75px;
    padding: 0px 10px;
    text-align: center;
}
.lnktext_bubl2, .lnktext_bubl3, .lnktext_bubl4:hover {
    color:#ececec;
    line-height:14px !important;
}
.lnktext_bubl3 {
    margin:35px 0 0 5px;
    float:left;
    width:80px;
}
.lnktext_bubl4 {
    margin:25px 0 0 5px;
    float:left;
    width:80px;
}
.main_circle, .main_circleret {
    display: block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    position: absolute;
    z-index: 1000;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}
.main_circleret {
    background:#00639c !important;
}
.slide-middle {
    position: absolute;
    top: 40%;
    margin-left: 45%;
    text-align: center;
    right: 0;
    bottom: 0;
    left: 0;
}
.slide {
    padding: 0px 15px;
}
.clear-float {
    clear: both;
}
.deck-container {
    position: absolute;
    min-height: initial;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
    /*top: 80px;*/
    top:74px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255, 255, 255, .5);
}
.app-title {
    /*color:#0f1c50;*/
    color:#0087B9;
    text-align: center;
    line-height: 40px;
    font-family:'Open Sans Condensed';
    font-weight:700;
    font-size:36px;
    text-transform:uppercase;
    margin: 0px;
    padding: 20px 0px;
}
/************************* Options Menu *******************************/
 .app-header {
    width:100%;
    background: white;
    z-index:3;
    background:url(../img/logo_2.png) top left no-repeat;
    /*border-bottom:4px solid #6485c1;*/
    padding:10px 15px 10px 15px;
    position: fixed;
    /*border-bottom: 3px solid #d2dbed;*/
}
.options-menu {
    position:relative;
    top:0px;
    right:0px;
    /*padding-right:40px;
    top:20px !important;
    z-index: 1000;*/
    /*display: none !important;*/
}
.deck-current .options-menu {
    /*display: block !important;*/
}
.float-right {
    float:right;
}
.float-left {
    float:left;
}
.header-right-section {
    margin-right:35px;
}
.ico-menu {
    background: url(../img/ico-plus.png) center center no-repeat !important;
}
.ico-home {
    background: url(../img/ico-home.png) center center no-repeat !important;
}
.ico-back {
    background: url(../img/ico-back.png) center center no-repeat !important;
}

.circleMenu-open .ico-menu{
    -webkit-transform: rotateZ(135deg);
}


.deck-current#mainmenu>.img-container {
    background: #fff;
    position: fixed;
    top:0px;
    bottom: 0px;
    left:0px;
    right:0px;
    z-index:1001;

    background-image:url("../img/slide2.jpg");
 background-repeat:no-repeat;

   background-size:contain;
/*background-attachment:fixed;*/
background-position:center; 
}


/************************* For case Studies ***************************/
 .case-study header h2 {
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2P8DwSMQMCABBhBgiA+sgRYBboEXBuyBIpZMAkAW1YUAh9deX8AAAAASUVORK5CYII=) repeat-x bottom left;
    background: transparent url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2P8DwSMQMCABBhBgiA+sgRYBboEXBuyBIpZMAkAW1YUAh9deX8AAAAASUVORK5CYII=) repeat-x bottom left;
    margin-bottom: 0px;
    -webkit-box-reflect:initial;
    color:#F26328;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    ;
}
.case-study > header h2 span {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 18px;
    color: #F26328;
    text-shadow: none;
}
.timeline {
    position: relative;
    list-style-type: none;
    padding: 30px 0 50px 0;
    /*font-family: 'Gorditas', Arial, sans-serif;*/
}
.timeline:before {
    content:'';
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    left: 60px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJUlEQVQIW2NkQAP/gYARWQwkAOLDBeECjEAAkkEWAKtEFwAJAgAZEBP+oM1IkwAAAABJRU5ErkJggg==);
}
.event {
    position: relative;
    margin-bottom: 40px;
    padding-right: 40px;
}
/* Transparent Checkbox/radio hack: leave the checkbox on top, hide it with opacity 0 */
 .event label, .event input[type="radio"] {
    width: 24px;
    height: 24px;
    left: 50px;
    top: 36px;
    position: absolute;
    display: block;
}
.event input[type="radio"] {
    opacity: 0;
    z-index: 10;
    cursor: pointer;
}
.event label:after {
    /*font-family: 'fontawesome-selected';*/
    content:'\e702';
    background: #fff;
    border-radius: 50%;
    color: #41838E;
    font-size: 26px;
    height: 100%;
    width: 100%;
    left: -2px;
    top: -3px;
    line-height: 24px;
    position: absolute;
    text-align: center;
}
.content-perspective {
    margin-left: 130px;
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
    -o-perspective: 600px;
    -ms-perspective: 600px;
    perspective: 600px;
}
/*.content-perspective:before {
    content: '';
    width: 37px;
    left: -51px;
    top: 45px;
    position: absolute;
    height: 1px;
    z-index: -1;
    background: #fff;
}*/
 .content {
    -webkit-transform: rotateY(10deg);
    -moz-transform: rotateY(10deg);
    -o-transform: rotateY(10deg);
    -ms-transform: rotateY(10deg);
    transform: rotateY(10deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.content-inner {
    position: relative;
    padding: 20px;
    color: #333;
    border: none;
    border-left: 5px solid #41838e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: #fff;
}
.content-inner h3 {
    font-size: 26px;
    padding: 5px 0 5px 0;
    color: #41838e;
    margin:0px;
}
.content-inner p {
    font-size: 18px;
    max-height: 0px;
    overflow: hidden;
    color: transparent;
    color: rgba(0, 0, 0, 0);
    text-align: left;
}
.content-inner:before {
    /*font-family: 'fontawesome-selected';*/
    content:'\25c2';
    font-weight: normal;
    font-size: 54px;
    line-height: 54px;
    position: absolute;
    width: 30px;
    height: 30px;
    color: #41838e;
    left: -22px;
    top: 19px;
    z-index: -1;
}
/* Transitions */
 .content-inner h3 {
    -webkit-transition: all 0.6s ease-in-out 0.2s;
    -moz-transition: all 0.6s ease-in-out 0.2s;
    -o-transition: all 0.6s ease-in-out 0.2s;
    -ms-transition: all 0.6s ease-in-out 0.2s;
    transition: all 0.6s ease-in-out 0.2s;
}
.content-inner {
    -webkit-transition: box-shadow 0.8s linear 0.2s;
    -moz-transition: box-shadow 0.8s linear 0.2s;
    -o-transition: box-shadow 0.8s linear 0.2s;
    -ms-transition: box-shadow 0.8s linear 0.2s;
    transition: box-shadow 0.8s linear 0.2s;
}
.content {
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(.59, 1.45, .69, .98) 0.2s;
    -moz-transition: -moz-transform 0.5s cubic-bezier(.59, 1.45, .69, .98) 0.2s;
    -o-transition: -o-transform 0.5s cubic-bezier(.59, 1.45, .69, .98) 0.2s;
    -ms-transition: -ms-transform 0.5s cubic-bezier(.59, 1.45, .69, .98) 0.2s;
    transition: transform 0.5s cubic-bezier(.59, 1.45, .69, .98) 0.2s;
}
.content-inner p {
    -webkit-transition: max-height 0.5s linear, color 0.3s linear;
    -moz-transition: max-height 0.5s linear, color 0.3s linear;
    -o-transition: max-height 0.5s linear, color 0.3s linear;
    -ms-transition: max-height 0.5s linear, color 0.3s linear;
    transition: max-height 0.5s linear, color 0.3s linear;
}
/* Checked */
 .event input[type="radio"]:checked + label:after {
    content:'\2714';
    color: #F26328;
    box-shadow: 0 0 0 5px rgba(255, 255, 255, 0.8);
}
.event input[type="radio"]:checked ~ .content-perspective:before {
    background: #F26328;
}
.event input[type="radio"]:checked ~ .content-perspective .content-inner h3 {
    color: #F26328;
}
.event input[type="radio"]:checked ~ .content-perspective .content-closed {
    visibility: hidden;
    -webkit-transform: rotateY(116.5deg);
    -moz-transform: rotateY(116.5deg);
    -o-transform: rotateY(116.5deg);
    -ms-transform: rotateY(116.5deg);
    transform: rotateY(116.5deg);
}
.event input[type="radio"]:checked ~ .content-perspective .content-open {
    visibility:visible;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.event input[type="radio"]:checked ~ .content-perspective .content-inner {
    border-color: #F26328;
    box-shadow: 10px 0px 10px -6px rgba(0, 0, 0, 0.1);
}
.event input[type="radio"]:checked ~ .content-perspective .content-inner p {
    max-height: 260px;
    /* Add media queries */
    color: rgba(0, 0, 0, 0.85);
    -webkit-transition-delay: 0s, 0.6s;
    -moz-transition-delay: 0s, 0.6s;
    -o-transition-delay: 0s, 0.6s;
    -ms-transition-delay: 0s, 0.6s;
    transition-delay: 0s, 0.6s;
}
.event input[type="radio"]:checked ~ .content-perspective .content-inner:before {
    color: #F26328;
}
.content-inner p, .event label {
    -webkit-backface-visibility: hidden;
    line-height:19px;
}
@media screen and (max-width: 850px) {
    .content-inner h3 {
        font-size: 20px;
    }
    .slide-middle {
        position: absolute;
        top: 40%;
        margin-left: 42%;
        text-align: center;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .content-inner p {
        font-size: 14px;
        text-align: justify;
    }
    .event input[type="radio"]:checked ~ .content-perspective .content-inner p {
        max-height: 500px;
    }
}
@media screen and (max-width: 540px) {
    .timeline {
        padding: 0px 0 50px 0;
    }
    .timeline::before {
        left: 50px;
    }
    .event {
        padding-right: 0px;
        margin-bottom: 50px;
    }
    .event input[type="radio"] {
        width: 100px;
        height: 100px;
        left: 0px;
        top: 0px;
    }
    .event input[type="radio"]:checked ~ .thumb:before {
        background: none;
        width: 0;
    }
    .event label {
        display: none;
    }
    .content-perspective {
        margin-left: 0px;
        top: 80px;
    }
    .content-perspective:before {
        height: 0px;
    }
    .content {
        -webkit-transform: rotateX(-10deg);
        -moz-transform: rotateX(-10deg);
        -o-transform: rotateX(-10deg);
        -ms-transform: rotateX(-10deg);
        transform: rotateX(-10deg);
    }
    .event input[type="radio"]:checked ~ .content-perspective .content {
        -webkit-transform: rotateX(0deg);
        -moz-transform: rotateX(0deg);
        -o-transform: rotateX(0deg);
        -ms-transform: rotateX(0deg);
        transform: rotateX(0deg);
    }
    .content-inner {
        border-left: none;
        border-top: 5px solid #41838e;
    }
    .event input[type="radio"]:checked ~ .content-perspective .content-inner {
        border-color: #F26328;
        box-shadow: 0 10px 10px -6px rgba(0, 0, 0, 0.1);
    }
    .content-inner:before {
        content:'\25b4';
        left: 33px;
        top: -32px;
    }
    .event input[type="radio"]:checked ~ .content-perspective .content-inner p {
        max-height: 300px;
    }
}
/**************************************** Circular Case study ********************************/
 .case-study-highlight {
    padding: 35px 20px;
    line-height: 34px;
    font-size: 30px;
    font-family:'Open Sans Condensed';
    font-weight: 700;
    color: #0087B9;
    text-align: center;
}
li.ico-case-study {
    list-style: none;
    width: 110px;
    height: 110px;
    border-radius: 55px;
    font-family:'Open Sans Condensed';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 110px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
li.ico-case-study-last {
    margin:0 !important;
}
li.clear-float {
    clear:both !important;
    float:none !important;
    list-style:none !important;
    margin:0 !important;
    padding:0 !important;
}
ul.icons {
    /*background:#C00;
    float:left;*/
    margin:0;
    padding:0;
    transition:all 1000ms ease 0s;
    display : table;
    margin: 0 auto;
}
ul li.icon-selected {
    margin-bottom:50px;
    clear: both;
    float: none !important;
}
ul.icons-vertical {
    float:left;
}
ul.icons-horizontal li {
    float:left;
    margin-right:25px;
    transition:all 1000ms ease 0s;
}
ul.icons-vertical li {
    float:none;
    margin-bottom:25px;
    transition:all 1000ms ease 0s;
}

.article-container {
    padding-bottom:20px;
}
.article-case-study {
    /*background-color:#0f1c50;
    padding:20px;
    border:5px solid #ffffff;
    border-radius:25px;
    font-weight:400;

    font-size: 14px;
text-align: justify;
-webkit-backface-visibility: hidden;
line-height: 19px;

    color:#ffffff;
    box-shadow:0px 0px 10px #333333;
    transition:all 1000ms ease 0s;*/
    /*margin-left:200px;*/
    /*position:relative;*/
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 25px;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
    -webkit-backface-visibility: hidden;
    line-height: 26px;
    /*color: #0f1c50;*/
    color:black;
    box-shadow: 0px 0px 10px #333333;
    transition: all 1000ms ease 0s;
    margin: 0 20px;
    opacity: 1;
    right:10px;
    left:10px;

}
.article-case-study-collasped {
    position:fixed !important;
    /*width:0 !important;*/
    /*height:0 !important;
    opacity: 0;
    padding:0 !important;
    margin:0 !important;*/
    visibility: hidden;
    /*overflow:hidden !important;
    border:none !important;
    border-radius:0 !important;*/
    transition: all 1000ms ease 0s;
    -webkit-transform: rotateY(180deg);
    right:10px;
    left:10px;
}
.article-case-study li {
    padding:10px 0px;
}
/*Background Colours*/
 .bgColor-nttdBlue1 {
    background-color:#0087B9;
}
.bgColor-nttdBlue2 {
    background-color:#66A1D5;
}
.bgColor-nttdBlue3 {
    background-color:#46B3D5;
}
.bgColor-nttdBlue5 {
    background-color:#8AB6DF;
}
.bgColor-nttdBlue4 {
    background-color:#0f1c50;
}
.bgColor-nttdGrey1 {
    background-image:#3A547D;
}
.bgColor-nttdGrey2 {
    background-image:#6E82A6;
}
.bgColor-nttdRed1 {
    background-color:#E23822;
}
.bgColor-nttdRed2 {
    background-color:#E95C41;
}
.bgColor-nttdYellow {
    background-color:#FFA52B
}
.slide-footer-content {
    padding-bottom:30px;
}
/************************************* bounce effect ************************************/
 .animated {
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -ms-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
}
.animated.hinge {
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -ms-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
    }
}
@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
    }
}
@-o-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -o-transform: translateY(0);
    }
    40% {
        -o-transform: translateY(-30px);
    }
    60% {
        -o-transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
.bounce {
    -webkit-animation-name: bounce;
    -moz-animation-name: bounce;
    -o-animation-name: bounce;
    animation-name: bounce;
}

.animated li:first-child{
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -ms-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
}
.animated.hinge {
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -ms-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
}
@-webkit-keyframes circleMenu-open {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-360deg);
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(0);
    }
}
@-moz-keyframes circleMenu-open {
    0% {
        -moz-transform-origin: center center;
        -moz-transform: rotate(-360deg);
        opacity: 0;
    }
    100% {
        -moz-transform-origin: center center;
        -moz-transform: rotate(0);
        opacity: 1;
    }
}
@-o-keyframes circleMenu-open {
    0% {
        -o-transform-origin: center center;
        -o-transform: rotate(-360deg);
        opacity: 0;
    }
    100% {
        -o-transform-origin: center center;
        -o-transform: rotate(0);
        opacity: 1;
    }
}
@keyframes circleMenu-open {
    0% {
        transform-origin: center center;
        transform: rotate(-360deg);
        opacity: 0;
    }
    100% {
        transform-origin: center center;
        transform: rotate(0);
        opacity: 1;
    }
}
.circleMenu-open li:first-child{
    -webkit-animation-name: circleMenu-open;
    -moz-animation-name: circleMenu-open;
    -o-animation-name: circleMenu-open;
    animation-name: circleMenu-open;
}

.animated1 li:first-child{
    -webkit-animation-fill-mode:both;
    -moz-animation-fill-mode:both;
    -ms-animation-fill-mode:both;
    -o-animation-fill-mode:both;
    animation-fill-mode:both;
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    -ms-animation-duration:1s;
    -o-animation-duration:1s;
    animation-duration:1s;
}

@-webkit-keyframes circleMenu-closed {
    0% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-360deg);
    }
}
@-moz-keyframes circleMenu-closed {
    0% {
        -moz-transform-origin: center center;
        -moz-transform: rotate(-360deg);
        opacity: 0;
    }
    100% {
        -moz-transform-origin: center center;
        -moz-transform: rotate(0);
        opacity: 1;
    }
}
@-o-keyframes circleMenu-closed {
    0% {
        -o-transform-origin: center center;
        -o-transform: rotate(-360deg);
        opacity: 0;
    }
    100% {
        -o-transform-origin: center center;
        -o-transform: rotate(0);
        opacity: 1;
    }
}
@keyframes circleMenu-closed {
    0% {
        transform-origin: center center;
        transform: rotate(-360deg);
        opacity: 0;
    }
    100% {
        transform-origin: center center;
        transform: rotate(0);
        opacity: 1;
    }
}
.circleMenu-closed li:first-child{
    -webkit-animation-name: circleMenu-closed;
    -moz-animation-name: circleMenu-closed;
    -o-animation-name: circleMenu-closed;
    animation-name: circleMenu-closed;
}

@-webkit-keyframes rollIn {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%) rotate(120deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0px) rotate(0deg);
    }
}
@-moz-keyframes rollIn {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%) rotate(120deg);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0px) rotate(0deg);
    }
}
@-o-keyframes rollIn {
    0% {
        opacity: 0;
        -o-transform: translateX(100%) rotate(120deg);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0px) rotate(0deg);
    }
}
@keyframes rollIn {
    0% {
        opacity: 0;
        transform: translateX(100%) rotate(120deg);
    }
    100% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }
}
.rollIn {
    -webkit-animation-name: rollIn;
    -moz-animation-name: rollIn;
    -o-animation-name: rollIn;
    animation-name: rollIn;
}
/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */
 @-webkit-keyframes rollOut {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0px) rotate(0deg);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(-120%) rotate(-120deg);
    }
}
@-moz-keyframes rollOut {
    0% {
        opacity: 1;
        -moz-transform: translateX(0px) rotate(0deg);
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(-100%) rotate(-120deg);
    }
}
@-o-keyframes rollOut {
    0% {
        opacity: 1;
        -o-transform: translateX(0px) rotate(0deg);
    }
    100% {
        opacity: 0;
        -o-transform: translateX(-100%) rotate(-120deg);
    }
}
@keyframes rollOut {
    0% {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%) rotate(-120deg);
    }
}
.rollOut {
    -webkit-animation-name: rollOut;
    -moz-animation-name: rollOut;
    -o-animation-name: rollOut;
    animation-name: rollOut;
}